#note-brand {
  font-size: 1.5em;
}

#trash-delete:hover {
  color: hsl(348, 100%, 61%);
  cursor: pointer;
}

#edit-pencil:hover {
  color: hsl(204, 86%, 53%);
  cursor: pointer;
}

#signup-error,
#login-error,
#note-error {
  color: hsl(348, 100%, 61%);
}
